<%= render 'list', user: @user %>

<% @users.each do |user| %>
<h4>Users</h4>
<div>
  <p>image <%= image_tag current_user.get_profile_image(100,100) %></p>
  <p>name <%= user.name %></p>
  <p><%= link_to "Show", user_path(user.id) %></p>
</div>
<% end %>