<div><%= flash[:notice] %></div>

<%= render 'users/list', user: @user %>

<% @books.each do |book| %>
<h3>Books</h3>
<div>
  <p>Title:<%= book.title %></p>
  <p>Opinion:<%= book.body %></p>
</div>
<% end %>